<%- include('./partials/head.ejs') %>

<main>

  <section>
    <!-- Hier komen de members -->
    <% squad.members.forEach(member => { %>
    <article>
      
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/placeholder.jpg" alt="Placeholder avatar" />
      <% } %>

      <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
      

      <% if (member.nickname) { %>
        <h2>of</h2>
      <h3>"<%= member.nickname %>"</h3>
      <% }else{ %>
      <h2> </h2>
      <% } %>
 
    </article>
    <% }) %>
  </section>
</main>

<%- include('./partials/foot.ejs') %>
